body{
                font-family: 'Raleway', sans-serif;
            }
            
            .main_frame{
                float:left;
                margin-left: 180px;
            }
            .main_area{
                border-top:1px solid #DBDBDB;
                width: 500px;
                height: 400px;
            }
            .stick{
                width: 40px;
                height: 1px;
                background-color: #135F99;
                float:left;
                margin-left: 20px;
                font-family: Verdana;
                color: white;
                text-align: center;
            }
            
            .user{
                width: 40px;
                margin-left: 20px;
            }
            .header{
                margin-bottom: 25px;
            }
            .notify{
                font-family: Helvetica;
                font-size: 12px;
                float:left;
                width: 300px;
                height: 400px;
                overflow-y: auto;
            }
            .footer{
                font-family: Helvetica;
                font-size: 12px;
                margin-top: 25px;
            }
            .footer a{
                
                color:black;
            }
            .slimScrollDiv{
            float:left;
            }
            .twitter-share-button{
                margin-left: 50px;
                margin-top: 5px;
            }